/* Template.css */

/* Style for the main container */
.template-app-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Style for the particles canvas */
.react-tsparticles {
  position: absolute;
  top: 0;
  left: 0;
}

/* Style for the button container */
.template-button-container {
  position: absolute;
  top: 50%; /* Vertically center the button container */
  left: 50%; /* Horizontally center the button container */
  transform: translate(-50%, -50%); /* Center alignment */
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Style for the buttons */
.template-button {
  width: 200px;
  height: 200px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 90%; /* Make it circular */
  font-weight: 700;
  font-size: larger;
  cursor: pointer;
  margin-top: 10px; /* Add spacing between buttons */
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Add more styles as needed */
