/* JoinGameId.css */

.join-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
  }
  
  .join-game-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .join-form {
    width: 100%;
    max-width: 300px;
  }

  
  .join-gif {
    max-width: 100%;
    height: auto;
  }
  
  /* button animation  */
.join-game-btn-whimsical {
  z-index: 2; 
  display: inline-block;
  height: 80px;
  width: 300px;
  padding: 20px 25px;
  font-size: 20px;
  border: none;
  border-radius: 50px;
  background-color: #cbf4d9;
  color: black;
  font-weight: 700;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, box-shadow 0.3s;
}

.join-game-btn-whimsical:hover {
  transform: rotate(-10deg) scale(1.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.join-game-btn-whimsical:active {
  transform: rotate(0) scale(1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}